@model IEnumerable<MvcMovie.Models.Review>
@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
    Layout = null;
    var userId = ViewData["UserId"] as int?;
    var username = ViewData["Username"] as string;
    var watchingReviews = Model?.Where(r => r.status == "Watching" && r.UserId == userId).ToList();
    var planToWatch = Model?.Where(r => r.status == "Plan to watch" && r.UserId == userId).ToList();
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<head>
    <link rel="stylesheet" href="/css/Account.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Andale+Mono&display=swap">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/js/Account.js"></script>
</head>

<body>
    <div class="page-content">
        <div class="top-banner">
            <!--within here we will have the Banner in the background, the profile picture and link/logo to homepage-->
            <div class="banner">
                <div class="background-img">
                    <a asp-area="" asp-controller="Main" asp-action="Index" title="logo">
                        <img id="logo" src="/img/IMG_0213.png" alt="logo">
                        <!-- This is where the logo banner lies -->
                    </a>
                    <div class="profile-contain">
                        <div class="profile-pic">
                            <img src="/img/ryanTestProfile.jpeg" alt="profile-pic">
                            <!-- Profile Picture -->
                        </div>
                        <div class="profile-name">
                            <h1 class="name">@username</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-links">

                <!-- This is where the openModal() function is called when the button is clicked -->
                <button onclick="openModal()" class="add-review">Add Review +</button>
                <div class="nav-container">
                    <a href="" class="link" id="overview">Overview</a>
                    <a href="" class="link" id="overview">Your Reviews</a>
                    <a href="" class="link" id="overview">Favorites</a>
                    <a href="" class="link" id="overview">Watched</a>
                </div>

            </div>

        </div>

         <div class="accountViewWrap">
            <div id="accountViewWrap">
            
                @if(watchingReviews != null && watchingReviews.Any()){
                    <div class="reviews-list">
                        <h2>Watching</h2>
                        <div class="reviews-container">
                            <ul style="list-style-type: none">
                                @foreach (var review in Model.Where(r => r.status == "Watching" && r.UserId == userId))
                                {
                                    <li>
                                        <div class="review-box" onclick="openReviewDetail('@review.Title', @review.Score, '@Html.Raw(System.Text.Encodings.Web.JavaScriptEncoder.Default.Encode(@review.ReviewDescription))', @review.Id)">
                                            <div class="review-header">
                                                <h2 class="review-title">@review.Title</h2>
                                                <div class="review-score">@review.Score</div>
                                            </div>
                                            <div class="review-description">
                                                @review.ReviewDescription
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                }

                <div class="reviews-list">
                    <h2>Reviews</h2>
                    <div class="reviews-container">
                        @if (Model != null)
                        {
                            <ul style="list-style-type: none">
                                @foreach (var review in Model.Where(r => r.status == "Completed" && r.UserId == userId))
                                {
                                    <li>
                                        <div class="review-box" onclick="openReviewDetail('@review.Title', @review.Score, '@Html.Raw(System.Text.Encodings.Web.JavaScriptEncoder.Default.Encode(@review.ReviewDescription))', @review.Id)">
                                            <div class="review-header">
                                                <h2 class="review-title">@review.Title</h2>
                                                <div class="review-score">@review.Score</div>
                                            </div>
                                            <div class="review-description">
                                                @review.ReviewDescription
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>No completed reviews found.</p>
                        }
                    </div>

                </div>

                @if(planToWatch != null && planToWatch.Any()){
                    <div class="reviews-list">
                        <h2>Plan to watch</h2>
                        <div class="reviews-container">
                            <ul style="list-style-type: none">
                                @foreach (var review in Model.Where(r => r.status == "Plan to watch" && r.UserId == userId))
                                {
                                    <li>
                                        <div class="review-box" onclick="openReviewDetail('@review.Title', @review.Score, '@Html.Raw(System.Text.Encodings.Web.JavaScriptEncoder.Default.Encode(@review.ReviewDescription))', @review.Id)">
                                            <div class="review-header">
                                                <h2 class="review-title">@review.Title</h2>
                                                <div class="review-score">@review.Score</div>
                                            </div>
                                            <div class="review-description">
                                                @review.ReviewDescription
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                }
            </div>
        </div>


        <div class="account-body">

            <div class="modal-overlay" id="modalOverlay" style="display:none">
                <div class="test">
                    <button class="close-button" onclick="closeModal()">✖</button>
                    <h1>Leave a Movie Review</h1>
                    <form id="myForm" method="post">
                        <div class="form-group">
                            <label for="title">Movie Title:</label>
                            <input type="text" id="title" name="title" placeholder="Enter movie title" required>
                        </div>

                        <div class="form-group">
                            <label for="status">Status:</label>
                            <select class="form-control" name="status" id="status" required>
                                <option value="Completed">Completed</option>
                                <option value="Watching">Watching</option>
                                <option value="Plan to watch">Plan to watch</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="Score">Rating (1 to 10):</label>
                            <input type="number" name="Score" id="Score" min="1" max="10"
                                placeholder="Enter your rating" required>
                        </div>

                        <div class="form-group">
                            <label for="ReviewDescription">Notes/Description:</label>
                            <textarea name="ReviewDescription" id="ReviewDescription" rows="4"
                                placeholder="Write your review here..." required></textarea>
                        </div>

                        <!-- Hidden input for UserId -->
                        <input type="hidden" name="userId" value="@userId" />

                        <button type="submit" class="submit-btn">Submit Review</button>
                    </form>
                </div>
            </div>

           

        </div>

        <div id="reviewDetailModal">
            <img id="reviewDetailImage" src="" alt="Review Image" style="width: 100px; height: auto; object-fit: cover; border-radius: 8px;">
            <div class="reviewBlock">      
                <div id="reviewDetailTitle" style="font-size: 18px; font-weight: bold;"></div> 
                <div id="reviewDetailScore" style="margin-top: 10px;"></div>
                <button id="deleteReviewButton" onclick="deleteReview()" style="margin-top: 15px; background-color: red; color: white; border: none; padding: 10px; border-radius: 5px;">Delete</button>
            </div>
            <div id="reviewDetailDescription" style="margin-top: 10px;"></div>
            <button onclick="closeReviewDetail()" style="float: right;height: 20px;margin-left: auto;">X</button> 
        </div>

  
        <div id="modalBackdrop" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 999;"></div>

        <div class="footer">

        </div>
    </div>
</body>

<script>
    let currentReviewId;

    function openReviewDetail(title, score, description,reviewId) {
        console.log(reviewId)
        currentReviewId = reviewId;
        document.getElementById('reviewDetailTitle').textContent = title;
        document.getElementById('reviewDetailScore').textContent = `Score: ${score}`;
        document.getElementById('reviewDetailDescription').textContent = description;
        document.getElementById('reviewDetailModal').style.display = 'flex';
        document.getElementById('modalBackdrop').style.display = 'block';
        const imgElement = document.getElementById('reviewDetailImage');
        imgElement.src = "/img/fight.jpeg";
        console.log(currentReviewId);
    }

    function closeReviewDetail() {
        document.getElementById('reviewDetailModal').style.display = 'none';
        document.getElementById('modalBackdrop').style.display = 'none';
    }

    function deleteReview() {
        if (confirm("Are you sure you want to delete this review?")) {
            fetch(`/Review/Delete/${currentReviewId}`, {
                method: "DELETE"
            })
                .then(response => {
                    if (response.ok) {
                        
                        closeReviewDetail();
                        window.location.reload();
                    } else {
                        alert("Failed to delete review.");
                    }
                })
                
        }
    }

    document.getElementById('modalBackdrop').addEventListener('click', closeReviewDetail);
</script>
